.gridOne {
    display: grid;
    grid-template-columns: auto auto;
    background-image: url(/public/kingfood-img-icon/nen.svg);
    height: 280px;
    width: 65%;
    /* cho 2 thẻ div nằm lên nhau */
    position: relative;
    z-index: 0;
    /* border-radius 2 góc dưới */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gridTwo {
    display: grid;
    grid-template-columns: 30% auto;
}

.gridThree {
    display: grid;
    grid-template-columns: 20% auto;
}

.avatarOne img {
    width: 100px;
    height: 100px;
    margin-top: 70px;
    margin-left: 30px;
}

.profileOne p {
    position: relative;
    top: 75px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-left: -30px;
}

.gridThree .placeOne img{
    margin-top: 60px;
    margin-left: -35px;
}

.gridThree .placeTwo p {
    margin-top: -18px;
    margin-left: -90px;
    font-size: 17px;
}

.boderOne p {
    padding-top: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    background-color: #F97171;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
}

.typeBoder {
    display: flex;
    justify-content: flex-end;
}